.ui-dropdown .ui-trigger {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.ui-dropdown .ui-trigger::after {
    content: ">";
    display: inline-block;
    position: absolute;
    right: 15px;
    transform: rotate(90deg) scale(0.5, 1);
    font-weight: bold;
    transition: transform 0.3s;
}

.ui-dropdown .ui-trigger.active::after {
    transform: rotate(-90deg) scale(0.5, 1);
}

.ui-dropdown .ui-content {
    display: none;
}

.ui-dropdown .ui-content.active {
    display: block;
}