div .squre {
    background-color: yellow;
    height: 100px;
    width: 100px;

}

/* div .squre:hover {
    transition: transform 1s;
    transform: rotate(360deg);
} */

/* .ui-snackbar:hover {
    transition: transform 1s;
    transform: rotate(360deg);
} */
/* html {
    font-family: "Nunito",
        Source Sans Pro,
        Helvetica Neue,
        Arial,
        sans-serif !important;
} */
#ui-snackbar-notification-main .ui-snckbar-messageArea {
    font-size: 18px;
    line-height: 1.2;
    word-wrap: break-word;
}

.ui-snackbar {
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: #AC8FFD;
    color: #fff;
    margin-top: 10px;
    padding: 5px;
    z-index: 10000;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    top: 0;
    visibility: hidden;
    right: -10px;
    position: fixed;
    transition: box-shadow 0.2s;
}

.ui-snackbar:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
}

.ui-show-notification-cl {
    animation: showNotification .3s forwards;
    animation-timing-function: ease-out;
}



@keyframes showNotification {
    0% {
        visibility: hidden;
        opacity: 0;
        right: 0px;
    }

    70% {
        visibility: visible;
        right: 46px;
    }

    100% {
        visibility: visible;
        right: 20px;
    }
}